<h1>ArcoMaq</h1>
<p>
    ArcoMaq es una empresa que tiene como actividad principal el alquiler de maquinarias pesadas para la construcción con operador.
</p>
<p>
    A través del análisis realizado sobre la competencia, se detectó que las empresas que se encuentran en nuestra industria no poseen un E-Commerce propio, a pesar de que este está en una etapa de pleno auge y que proporciona nuevas oportunidades a la hora de realizar ventas o alquileres.
</p>
<p>
    A partir de esto, se decidió realizar un E-Commerce, en donde los clientes puedan realizar la reserva y el alquiler de los productos de manera online, sin necesidad de moverse de su casa.
</p>
<p>
    El principal factor de diferenciación en el que la empresa se enfoca, es en brindar al cliente una gran variedad de productos de las mejores marcas del mercado, sumado a la posibilidad de poder realizar un alquiler vía web.
</p>